	body {background-color:black;}
/* .large_gage {width: 660px; height: 400px;} */
/* .small_gage {width: 323px; height: 325px;} */
	.h4 {
		color: white;
		font-family: Tahoma;
		text-decoration: none;
		margin-left: 20px;
	}
	.error_text {
		font-size: 20px;
		font-weight: bold;
		color: white;
		font-family: Tahoma;
		text-decoration: none;
		padding-left: 20px;
	}

	.guage{
		background-color: #007FDF;
	}
	
		
	.chart{
		background-color: #FFF;
		max-height: 500px;
		height: 27%;
		margin: 10px;
		
	}
	
	.chart2{
		background-color: #FFF;
		max-height: 500px;
		height: 40%;
		margin: 10px;
		
	}
	
	.main_guage{
		height: 52%;
	}
	.sub_guage{
		height: 26%;
	}
	.info{
		height: 4%;
		color: white;
		font-size: 22px;
		line-height: 3vh;
	}

	.info a{
		color: white;
	}

	.col{
		padding-right:10px;
		padding-left:10px;
		/*border: 5px solid red;*/
	}
	
	.col1{
		padding-right: 5px;
		padding-left: 5px;
	}
	
	.colL{
		padding-left: 10px;
		padding-right: 5px;
	}
	
	.colR{
		padding-right: 10px;
		padding-left: 5px;
	}
	
	.col:not(:first-child,:last-child) {
		padding-right:5px;
		padding-left:5px;
	}

	.row{
		padding-bottom: 5px;
		padding-top: 5px;
	}
	
	.infoText{
		font-size: 20px;
		font-size: 3vh;
	}
	
	.linkText{
		font-size: 22px;
		font-size: 3vh;
	}
	
	span {
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
		white-space:pre;
	}
	.wrapper {
		box-sizing: border-box;
	}
	
